*/target
target/**
*/classes
*/checkouts
pom.xml
*/pom.xml
**/pom.xml
*/pom.xml.asc
*.jar
*.class
/.lein-*
*/.lein-*
/.nrepl-port
*/.nrepl-port
.idea/
*.iml
*/target/**
*.swp
.vagrant/
deploy/
**/*latest*.txt*
**/*.dat
*/*.iml
**/*.orig
**/*.log
target/
**/dev.edn
.nrepl-history
[#]*[#]
Vagrantfile
**.tested
**.installed
**/*.DS_Store